#root {
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.notesListHolder {
  width: 600px;
}


.notesListHolder > p {
  text-align: center;
}


